<h1>Online Battleships</h1>

<h2>Place 4 Destroyers</h2>
  <form action='/ships' method='POST'> <!-- if no action given, defaults to current page -->
    <input type = "text" name='destroyer1' placeholder='e.g. A1' id='coordinate'>
    <input type = "text" name='destroyer2' placeholder='e.g. A1' id='coordinate'>
    
    <br>
    <input type = "text" name='destroyer3' placeholder='e.g. A1' id='coordinate'>
    <input type = "text" name='destroyer4' placeholder='e.g. A1' id='coordinate'>

    <br>
    <input type = "text" name='destroyer5' placeholder='e.g. A1' id='coordinate'>
    <input type = "text" name='destroyer6' placeholder='e.g. A1' id='coordinate'>
    
    <br>
    <input type = "text" name='destroyer7' placeholder='e.g. A1' id='coordinate'>
    <input type = "text" name='destroyer8' placeholder='e.g. A1' id='coordinate'>
    
    <br>
    <button id='coordinate'>Ship It!</button>
  </form>

<div id = "board"> <!-- squashes all input cells together -->
  <% 10.times do |row| %>
    <div class = "row">
      <% 10.times do |cell| %>
        <div class = "cell">
          <% cell_index = row * 10 + cell %>
          <% cell_coordinate = translator[cell_index] %>
          <% cell_value = current_board[cell_index] %>
          <input type="text" maxlength="1" autocomplete="off" value="<%= cell_value %>" >
        </div>
      <% end %>
    </div>
  <% end %>
</div>