<h1>Welcome to Battleships!</h1>

<h2>What is your name?</h2>

<form action="/register" method='POST'> <!-- if no action given, defaults to current page -->
  <input type = "text" name='name' placeholder='Please enter your name'>
  <button>Register</button>
</form>